{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <img src="https://i.imgur.com/KLY7HZ8.png"> </src>
    <h1>Welcome to the official SharedPower website.</h1>
    <h3>We are thrilled you have decided to visit us.</h3>


    <h5><b>(Basic promotional video below)</b><h5>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/8lLX2UnV4ug?start=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
{% endblock %}
